<div class="relative">
    <div class="ml-64 w-48 h-[150px] absolute bg-white shadow-xl" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
        <a href="#">
            <img src="../../../../assets/image/logo/logo.png" alt="logo" class="w-full h-full object-fit object-center">
        </a>
    </div>
</div>

<div class="w-full h-10 bg-magenta-light flex justify-end mr-48 items-center pr-8 text-white text-xl">
    <a href="" class="mr-4">mail@gmail.com</a>
    <a href="">+51 999 999 999</a>
</div>

<div class="text-black text-2xl">
    <!-- Encabezado -->
    <header class="flex justify-center items-center px-4 py-2">
        <nav class="space-x-16 ml-48 py-8">
            <a href="#index" class="text-black hover:text-magenta-light no-underline">Inicio</a>
            <a href="#servicios" class="text-black hover:text-magenta-light no-underline">Servicios</a>
            <a href="#" class="text-black hover:text-magenta-light no-underline">Productos</a>
            <a href="#" class="text-black hover:text-magenta-light no-underline">Galería</a>
            <!--  <a href="#" class="text-white hover:text-gray-300 no-underline">Reservas</a> -->
            <a href="#" class="text-black hover:text-magenta-light no-underline">Contacto</a>
        </nav>
    </header>
</div>