<app-sidenav></app-sidenav>

<section class="">
    <div class="bg-magenta-light h-50 flex justify-center items-center">
        <h2 class="text-7xl font-bold text-white mb-6 ">Reserva tu Cita</h2>
    </div>

    <div class="my-26 mx-40">

        <div class="w-full mt-20 flex">

            <div class="w-3/5 p-20 shadow-md">
                <form [formGroup]="appointmentSchedulerForm">

                    <label class="text-xl"> Selecciona un servicio: </label>
                    <div class="flex flex-wrap my-3">
                        <div *ngFor="let service of services" class="flex items-center mr-4 mb-2">
                            <label class="flex items-center">
                                <mat-checkbox [formControlName]="'service_name'"></mat-checkbox>

                                <span class="ml-2">
                                    {{ service.name }}
                                </span>
                            </label>
                        </div>
                    </div>

                    <div>

                        <label class="text-xl">Fecha Agendada</label>

                        <div class="flex">

                            <mat-form-field appearance="fill" class="flex-grow my-3">

                                <input matInput [matDatepicker]="appointmentDate" placeholder="Seleccione una fecha"
                                    [formControlName]="'appointment_date'">

                                <mat-datepicker-toggle matSuffix [for]="appointmentDate"></mat-datepicker-toggle>

                                <mat-datepicker #appointmentDate (click)="$event.stopPropagation();">

                                    <mat-datepicker-actions>
                                        <button mat-flat-button color="warn" (click)="resetDate()">Borrar</button>
                                        <button mat-raised-button color="primary" matDatepickerApply>Guardar</button>
                                    </mat-datepicker-actions>

                                </mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>


                    <div>
                        <label> Nombre: </label>
                        <input id="client_name" autocomplete="off" type="text" class="form-input my-3" placeholder=""
                            [formControlName]="'client_name'">

                    </div>

                    <div>
                        <label> Correo: </label>
                        <input id="email" autocomplete="off" type="text" class="form-input my-3" placeholder=""
                            [formControlName]="'email'">

                    </div>

                    <div>
                        <label> Notas(opcional): </label>
                        <textarea name="notes" (keydown.enter)="$event.stopPropagation()" id="notes" placeholder="Notas"
                            [formControlName]="'notes'" class="block form-input min-h-30 h-40 my-3"></textarea>
                    </div>

                    <div>
                        <label> Número de celular: </label>
                        <input id="phone_number" autocomplete="off" type="text" class="form-input my-3"
                            placeholder="000-000-000" [formControlName]="'phone_number'" mask="000-000-000">
                    </div>

                    <div class="w-80">
                        <button
                            class="bg-magenta-light text-white focus:outline-none my-4 transition duration-300 ease-in-out rounded-lg py-3 px-5"
                            (click)="send()">
                            Enviar cita
                        </button>

                    </div>
                </form>
            </div>


            <div class="w-2/5 bg-magenta-light p-13 text-white flex justify-center flex-col">
                <h2 class="text-4xl font-bold">Información de la Reserva</h2>

                <p class="text-2xl my-15">
                    Bienvenido a nuestro salón de belleza. Estamos encantados de reservar una cita contigo. Aquí
                    tienes
                    algunos detalles importantes:
                </p>

                <div class="flex items-center my-6 text-2xl">

                    <mat-icon class="pr-8 pb-8 mr-6 text-4xl">location_on</mat-icon>
                    <p>Av Guillero Billingursht 1152 San Juan de Miraflores Gobierno Regional de Lima 15801 Perú</p>
                </div>

                <div class="flex items-center my-6 text-2xl">
                    <mat-icon class="pr-8 pb-8 mr-6 text-4xl">access_time</mat-icon>
                    <p>Lunes a Sábado, 10 am - 7 pm</p>
                </div>

                <div class="flex items-center my-6 text-2xl">
                    <mat-icon class="pr-8 pb-8 mr-6 text-4xl">phone</mat-icon>
                    <p>Teléfono de contacto: +91 956 789 895</p>
                </div>

                <div class="flex items-center my-6 text-2xl">
                    <mat-icon class="pr-8 pb-8 mr-6 text-4xl">email</mat-icon>
                    <p>Correo Electrónico: info@mail.com</p>
                </div>
            </div>
        </div>

    </div>



</section>