<div class="container rounded-2xl text-left transition-all ">

    <ng-container [ngSwitch]="data.type">

        <app-sign-in *ngSwitchCase="'sign-in'" 
            (closeModal)="eventEmmisionReceiver($event)"></app-sign-in>

        <app-sign-out *ngSwitchCase="'sign-out'"
            (closeModal)="eventEmmisionReceiver($event)"></app-sign-out>

        <app-service-form *ngSwitchCase="'service'" [data]="data"></app-service-form>

        <app-shopping-cart *ngSwitchCase="'shopping-cart'" 
            (closeModal)="eventEmmisionReceiver($event)"></app-shopping-cart>
            
    </ng-container>



</div>