<div class="min-h-screen flex flex-col">

    <!-- Barra de navegación -->
    <app-sidenav></app-sidenav>

    <!-- Contenido de página -->
    <div class="flex-1 bg-gray-100 text-gray-800">

        <!-- Sección de Inicio -->
        <section id="index"
            class="min-h-screen flex items-center justify-center bg-cover bg-center border-b-2 border-magenta-light">

            <div class="absolute left-0 flex items-center arrow-container">
                <button class=" px-3 py-2 rounded-full" (click)="onLeftButtonClick()">
                    <img src="../../../../assets/image/other/left.png" alt="Left">
                </button>
            </div>

            <div class="container z-10 relative flex justify-center items-center h-full">
                <div class="w-full text center ml-20">
                    <h1 class="text-6xl font-bold mb-4 text-black text-left uppercase">{{ currentSectionContent.text
                        }}
                    </h1>
                    <p class="text-2xl mb-6 text-black">{{ currentSectionContent.buttonText }}</p>
                    <a href="#servicios"
                        class="bg-magenta-light hover:bg-magenta-lighter text-white py-3 px-8 text-lg transition duration-300 ease-in-out">{{
                        currentSectionContent.buttonLink }}</a>
                </div>
            </div>

            <div class="absolute right-0 flex items-center arrow-container">
                <button class="px-3 py-2 rounded-full" (click)="onRightButtonClick()">
                    <img src="../../../../assets/image/other/right.png" alt="Right">
                </button>
            </div>
        </section>


        <div class="container mx-auto py-12">
            <!-- Sección de Servicios -->
            <app-services></app-services>
            
            <!-- Sección de Carrusel -->
            <app-carousel></app-carousel>

            <!-- Sección de Productos -->
            <app-products></app-products>

            <!-- Sección de Galería -->
            <section class="mb-12">
                <h2 class="text-3xl font-bold mb-6">Galería</h2>
                <!-- mostrar fotos del interior del salón, trabajos realizados, etc. -->
            </section>

            <!-- Sección de Reservas -->
            <app-appointment-scheduler></app-appointment-scheduler>
            
        </div>
    </div>

    <footer class="bg-magenta-medium text-white py-4 text-center">
        <div class="flex justify-center mb-4">
            <div class="mr-8">
                <p>Dirección: Av Guillero Billingursht 1152 San Juan de Miraflores Gobierno Regional de Lima 15801
                    Perú</p>
                <p>Teléfono: (+51) 999 999 999</p>
                <p>Correo Electrónico: info@tusalonspa.com</p>
            </div>
            <div>
                <a href="#" class="text-gray-400 hover:text-white no-underline">Política de Privacidad</a><br>
                <a href="#" class="text-gray-400 hover:text-white no-underline">Términos de Uso</a>
            </div>
        </div>
        <p class="text-gray-400">&copy; 2023 Tu Salón-Spa. Todos los derechos reservados.</p>
    </footer>
</div>