<div class="min-h-screen flex flex-col">
    <div class="bg-magenta-light text-white">
        <!-- Encabezado -->
        <header class="flex justify-between items-center px-4 py-2">
            <div class="flex items-center">
                <!-- <img src="../../../../assets/logo/logo.png" alt="Logo de tu Salón-Spa" class="h-10 mr-2"> -->
                <h1 class="text-2xl font-bold">D'Jackelyn Salón-Spa</h1>
            </div>
            <nav class="space-x-4">
                <a href="#" class="text-white hover:text-gray-300 no-underline">Inicio</a>
                <a href="#" class="text-white hover:text-gray-300 no-underline">Servicios</a>
                <a href="#" class="text-white hover:text-gray-300 no-underline">Productos</a>
                <a href="#" class="text-white hover:text-gray-300 no-underline">Galería</a>
                <!--  <a href="#" class="text-white hover:text-gray-300 no-underline">Reservas</a> -->
                <a href="#" class="text-white hover:text-gray-300 no-underline">Contacto</a>
            </nav>
            <button class="bg-magenta-lighter hover:bg-magenta-medium text-white py-2 px-6 rounded">Reserva
                Ahora</button>
        </header>
    </div>

    <!-- Contenido de página -->

    <div class="flex-1 bg-gray-100 text-gray-800">
        <!-- Contenido de la página -->
        <section class="min-h-screen flex items-center justify-center bg-gray-50 text-gray-800">
            <div class="container mx-auto text-center">
                <h1 class="text-4xl font-bold mb-4">Bienvenido a D'Jackelyn Salón-Spa</h1>
                <img src="../../../../assets/image/logo/local.jpeg" alt="Logo de tu Salón-Spa" class="w-32 h-32 mb-6">

                <p class="text-lg mb-6">Tu experiencia de belleza y relajación comienza aquí</p>

                <div class="flex justify-center items-center mb-6">
                    <img src="../../../../assets/image/other/scissors.png" alt="Icono de tijeras"
                        class="mr-4 h-12 w-12">
                    <img src="../../../../assets/image/other/spa.png" alt="Icono de spa" class="mr-4 h-12 w-12">
                    <img src="../../../../assets/image/other/heart.png" alt="Icono de corazón" class="mr-4 h-12 w-12">
                </div>

                <a href="#servicios"
                    class="bg-magenta-medium hover:bg-magenta-lighter text-white py-3 px-8 rounded-full text-lg transition duration-300 ease-in-out no-underline">Descubre
                    Nuestros Servicios</a>
            </div>
        </section>

        <!-- Contenido de página -->
        <div class="container mx-auto py-12">
            <!-- Sección de Servicios -->
            <section id="servicios" class="mb-12">
                <h2 class="text-3xl font-bold mb-6">Nuestros Servicios</h2>
                <!-- listar tus servicios con descripciones y fotos -->
            </section>

            <!-- Sección de Productos -->
            <section class="mb-12">
                <h2 class="text-3xl font-bold mb-6">Productos Destacados</h2>
                <!-- mostrar productos destacados con imágenes y descripciones -->
            </section>

            <!-- Sección de Galería -->
            <section class="mb-12">
                <h2 class="text-3xl font-bold mb-6">Galería</h2>
                <!-- mostrar fotos del interior del salón, trabajos realizados, etc. -->
            </section>

            <!-- Sección de Reservas -->
            <section class="mb-12">
                <h2 class="text-3xl font-bold mb-6">Reserva tu Cita</h2>
                <!-- incluir un formulario de reserva en línea -->
            </section>
        </div>
    </div>

    <footer class="bg-magenta-light text-white py-4 text-center">
        <div class="flex justify-center mb-4">
            <div class="mr-8">
                <p>Dirección: Av Guillero Billingursht 1152 San Juan de Miraflores Gobierno Regional de Lima 15801
                    Perú</p>
                <p>Teléfono: (+51) 999 999 999</p>
                <p>Correo Electrónico: info@tusalonspa.com</p>
            </div>
            <div>
                <a href="#" class="text-gray-400 hover:text-white no-underline">Política de Privacidad</a><br>
                <a href="#" class="text-gray-400 hover:text-white no-underline">Términos de Uso</a>
            </div>
        </div>
        <p class="text-gray-400">&copy; 2023 Tu Salón-Spa. Todos los derechos reservados.</p>
    </footer>
</div>