<div class="flex flex-col">

    <!-- Barra de navegación -->
    <app-sidenav></app-sidenav>

    <!-- Contenido de página -->
    <div class="flex-1 bg-gray-100 text-gray-800">

        <!-- Sección de Inicio -->
        <section id="index"
            class="min-h-screen flex items-center justify-center bg-cover bg-center border-b-2 border-magenta-light">

            <div class="absolute left-0 flex items-center arrow-container">
                <button class="px-3 py-2 rounded-full" (click)="onLeftButtonClick()" [routerLink]="">
                    <img src="../../../../assets/image/other/left.png" alt="Left">
                </button>
            </div>

            <div class="container z-10 relative bottom-44 flex justify-center items-center h-full">
                <div class="w-full text center ml-20">
                    <h1 class="text-7xl font-bold mb-4 text-black text-left uppercase">{{ currentSectionContent.text }}
                    </h1>
                    <p class="text-3xl mb-6 text-black">{{ currentSectionContent.buttonText }}</p>
                    <button (click)="redirectToServices()"
                        class="bg-magenta-light hover:bg-magenta-lighter text-white py-2 px-8 text-xl transition duration-300 ease-in-out rounded-full">{{
                        currentSectionContent.buttonLink }}</button>
                </div>
            </div>

            <div class="absolute right-0 flex items-center arrow-container">
                <button class="px-3 py-2 rounded-full" (click)="onRightButtonClick()">
                    <img src="../../../../assets/image/other/right.png" alt="Right">
                </button>
            </div>
        </section>


        <div class="container mx-auto py-12">
            <!-- Sección de Servicios -->
            <section id="servicios" class="mb-12">
                <h2 class="text-4xl font-bold mb-6 text-center">Nuestros Servicios</h2>
                <div class="flex flex-col lg:flex-row lg:space-x-8 m-16">
                    <div class="flex w-full m-5">
                        <div class="w-full md:flex-col lg:w-1/3 shadow-lg shadow-gray-600/25">
                            <ul class="my-7">
                                <ng-container *ngFor="let service of services">
                                    <li (click)="selectService(service)"
                                        class="font-bold text-xl flex justify-between items-center p-7 hover:text-magenta-light transition duration-300 ease-in-out">
                                        <a class="cursor-pointer">{{ service.name }}</a>
                                        <span class="">{{ service.price | currency: 'PEN ':'symbol':'1.2-2' }}</span>
                                    </li>
                                </ng-container>
                            </ul>
                            <div class="flex justify-center mb-4">
                                <button (click)="redirectToReservation()"
                                    class="bg-magenta-light hover:bg-magenta-lighter justify-center text-white px-6 py-3 mb-4 transition duration-300 ease-in-out rounded-full">Reservar
                                    una
                                    cita</button>
                            </div>

                        </div>
                        <div class="w-2/3 md:flex-col ml-10">
                            <div class="flex justify-center mb-10">
                                <img *ngIf="selectedService" [src]="selectedService.image" alt="Servicio"
                                    class="w-3/4  max-h-128">
                            </div>
                            <div class="mb-4">
                                <span class="text-4xl">{{ selectedService.name }}</span>
                            </div>
                            <div class="mb-8">
                                <span class="text-xl text-magenta-light">{{ selectedService.price | currency: 'PEN
                                    ':'symbol':'1.2-2' }}</span>
                            </div>
                            <div class="">
                                <p class="leading-loose text-xl">{{ selectedService.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Sección de Carrusel -->
            <app-carousel></app-carousel>

            <!-- Sección de Productos -->
            <!-- <app-products></app-products> -->

            <!-- Sección de Galería -->
            <!-- <section class="mb-12">
                <h2 class="text-4xl font-bold mb-6">Galería</h2> 
            </section> -->

            <!-- Sección de Reservas -->
            <!-- <app-appointment-scheduler></app-appointment-scheduler> -->
            <div class="container mx-auto py-12">
                <section id="resenia" class="mb-12">
                    <h2 class="text-4xl font-bold mb-6 text-center">Reseñas</h2>
                    <div class="flex gap-4">
                        <ng-container *ngFor="let service of services">
                            <div class="w-1/3 h-50 rounded-xl bg-gray-200 p-3">
                                <div class="w-15 h-15 bg-white rounded-full">

                                </div>
                                <div>
                                    
                                </div>
                                {{service.reviews}}
                            </div>

                        </ng-container>
                    </div>
                </section>
            </div>


        </div>
    </div>

    <footer class="bg-magenta-medium text-white py-4 text-center">
        <div class="flex justify-center mb-4">
            <div class="mr-8">
                <p>Dirección: Av Guillero Billingursht 1152 San Juan de Miraflores Gobierno Regional de Lima 15801
                    Perú</p>
                <p>Teléfono: (+51) 999 999 999</p>
                <p>Correo Electrónico: </p>
            </div>
            <div>
                <a href="#" class="text-gray-400 hover:text-white no-underline">Política de Privacidad</a><br>
                <a href="#" class="text-gray-400 hover:text-white no-underline">Términos de Uso</a>
            </div>
        </div>
        <p class="text-gray-400">&copy; 2023 Tu Salón-Spa. Todos los derechos reservados.</p>
    </footer>
</div>