
<app-sidenav></app-sidenav>

<section id="servicios" class="mb-12">
    <h2 class="text-4xl font-bold mb-6 text-center">Nuestros Servicios</h2>
    <div class="flex flex-col lg:flex-row lg:space-x-8 m-16">
        <div class="flex w-full m-5">
            <div class="w-full md:flex-col lg:w-1/3 shadow-lg shadow-gray-600/25">
                <ul class="my-7">
                    <ng-container *ngFor="let service of services">
                        <li (click)="selectService(service)"
                            class="font-bold text-2xl flex justify-between items-center p-7 hover:text-magenta-light transition duration-300 ease-in-out">
                            <a class="cursor-pointer">{{ service.name }}</a>
                            <span class="">{{ service.price | currency: 'PEN ':'symbol':'1.2-2' }}</span>
                        </li>
                    </ng-container>
                </ul>
                <div class="flex justify-center mb-4">
                    <button
                        class="bg-magenta-light hover:bg-magenta-lighter justify-center text-white px-6 py-3 mb-4 transition duration-300 ease-in-out">Reservar
                        una
                        cita</button>
                </div>

            </div>
            <div class="w-2/3 md:flex-col ml-10">
                <div class="flex justify-center mb-10">
                    <img 
                        *ngIf="selectedService" 
                        [src]="selectedService.image" 
                        alt="Servicio"  
                        class="w-3/4  max-h-128">
                </div>
                <div class="mb-4">
                    <span class="text-4xl">{{ selectedService.name }}</span>
                </div>
                <div class="mb-8">
                    <span class="text-2xl text-magenta-light">{{ selectedService.price | currency: 'PEN ':'symbol':'1.2-2' }}</span>
                </div>
                <div class="">
                    <p class="leading-loose text-2xl">{{ selectedService.description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>