<section id="carousel" class="mb-12 relative bg-[##E9E9E9]">
    <div class="flex justify-center gap-9 h-64">
        <div
            class="w-56 h-56 rounded-full border-[5px] border-gray-300 flex justify-center items-center relative overflow-hidden">
            <img class="absolute top-0 left-0 w-full h-full object-cover"
                src="../../../../assets/image/services/maquillaje.jpg" alt="corte">
            <div class="absolute bottom-0 w-full bg-magenta-light bg-opacity-50 rounded-b-full">
                <h4 class="pb-10 pt-2 px-2 text-center">
                    <a class="text-white text-2xl uppercase">Corte de pelo</a>
                </h4>
            </div>
        </div>
        <div
            class="w-56 h-56 rounded-full border-[5px] border-gray-300 flex justify-center items-center relative overflow-hidden">
            <img class="absolute top-0 left-0 w-full h-full object-cover"
                src="../../../../assets/image/services/corte-cabello.jpg" alt="corte">
            <div class="absolute bottom-0 w-full bg-magenta-light bg-opacity-50 rounded-b-full">
                <h4 class="pb-5 pt-2 px-2 text-center">
                    <a class="text-white text-2xl uppercase">Tratamientos Faciales</a>
                </h4>
            </div>
        </div>
        <div
            class="w-56 h-56 rounded-full border-[5px] border-gray-300 flex justify-center items-center relative overflow-hidden">
            <img class="absolute top-0 left-0 w-full h-full object-cover"
                src="../../../../assets/image/services/peinado.jpg" alt="corte">
            <div class="absolute bottom-0 w-full bg-magenta-light bg-opacity-50 rounded-b-full">
                <h4 class="pb-5 pt-2 px-2 text-center">
                    <a class="text-white text-2xl uppercase">Manicura y Pedicura</a>
                </h4>
            </div>
        </div>
        <div
            class="w-56 h-56 rounded-full border-[5px] border-gray-300 flex justify-center items-center relative overflow-hidden">
            <img class="absolute top-0 left-0 w-full h-full object-cover"
                src="../../../../assets/image/services/uñas.jfif" alt="corte">
            <img src="" alt="">
            <div class="absolute bottom-0 w-full bg-magenta-light bg-opacity-50 rounded-b-full">
                <h4 class="pb-5 pt-2 text-center">
                    <a class="text-white text-2xl uppercase">Tratamientos Capilares</a>
                </h4>
            </div>
        </div>
    </div>
</section>